<div id="footer">
  <div class="app-component navbar-fixed-bottom navbar-inner footer">
    <div class="container">
      <footer>
        <div class="app-component vcenter_text center-block">
          <p class="text-center text-muted">
            <span class="appName" style="font-style:italic">MachineCart</span>
            &copy;
            {{
                  getYear()
                }}
            <a href="https://www.machinecart.com" target="_blank">www.machinecart.com</a>
          </p>
        </div>
      </footer>
    </div>
  </div>
</div>
